.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.btn {
    width: 200px;
    padding: 12px;
}