.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    flex-grow: 1;
    padding: 20px;
}

.buttons {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
}

.modal[open] {
    display: flex;
    flex-direction: column;
    gap: 12px;
    border-color: var(--orange);
}

.modal_buttons {
    display: flex;
    gap: 12px;
    justify-content: flex-end;
}