.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
}

.game_container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
    flex-grow: 1;
    width: 100%;
    overflow: hidden;
}

.padding_bottom {
    padding-bottom: 20px;
}

.top,
.bottom {
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    gap: 8px
}

.top {
    background-color: orange;
    border-bottom-right-radius: 50%;
    border-bottom-left-radius: 50%;
}

.bottom {
    background-color: lightgray;
    border-top-right-radius: 50%;
    border-top-left-radius: 50%;
}

.time {
    display: flex;
    width: 80%;
    justify-content: space-between;
    align-items: center;
}

.centered_column {
    display: flex;
    flex-direction: column;
    gap: 12px;
    align-items: center;
}

.results {
    flex-grow: 1;
    overflow-y: auto;
    width: 200px;
}

.result {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

@keyframes appear {
    0% {
        transform: scale(0.5);
    }

    100% {
        transform: scale(1);
    }
}

.word_circle {
    animation: appear .2s;
    width: 180px;
    height: 180px;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 200px;
    box-shadow: -1px 3px 9px 0px gray;
    user-select: none;
    font-size: x-large;
    padding: 20px;
    word-break: break-all;
    text-align: center;
    -webkit-hyphens: auto;
    -moz-hyphens: auto;
    -ms-hyphens: auto;
    hyphens: auto;
}

.score {
    font-size: x-large;
    font-weight: 700;
}

.final_results {
    width: 200px;

    &>div:first-child {
        font-size: larger;
        font-weight: 700;
    }
}

.team {
    width: 100%;
    display: flex;
    justify-content: space-between;

    &>span {
        max-width: 60%;
        overflow: hidden;
        text-overflow: ellipsis;
    }
}


.teams {
    width: 240px;
    max-height: 60px;
    overflow: auto;

    &::-webkit-scrollbar {
        display: none;
    }
}

.teams_header {
    font-weight: 500;
    width: 240px;
    display: flex;
    justify-content: space-between;
}